# The Evolution of Formula 1: Data Visualization Approach

First Visual : Map of Circuits

In [15]:
import pandas as pd
import folium

In [16]:
file_path = "./datasets/circuits.csv"
circuits = pd.read_csv(file_path)
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [17]:
file_path_2 = "./datasets/races.csv"
races = pd.read_csv(file_path_2)
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [18]:
circuits_count = races["circuitId"].value_counts()
circuits_id_list = circuits_count.index.tolist()
circuits_count_list = circuits_count.tolist()

In [19]:
file_path_3 = "./datasets/constructors.csv"
constructors = pd.read_csv(file_path_3)
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [20]:
file_path_4 = "./datasets/constructor_standings.csv"
standings = pd.read_csv(file_path_4)
standings.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [30]:
winners = standings.loc[standings["position"] == 1].copy()
winners.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
6,7,19,1,24.0,1,1,1
18,19,20,2,30.0,1,1,0
33,34,21,6,47.0,1,1,3
44,45,22,6,63.0,1,1,4

In [33]:
merged_data = pd.merge(winners, races, on='raceId')

circuit_constructor_counts = merged_data.groupby(['circuitId', 'constructorId']).size().reset_index(name='wins')
circuit_most_wins = circuit_constructor_counts.loc[circuit_constructor_counts.groupby('circuitId')['wins'].idxmax()]
merged_data = pd.merge(circuit_most_wins, circuits, on='circuitId')
merged_data = pd.merge(merged_data,constructors,on="constructorId")
merged_data_clean = merged_data[["circuitId","constructorId","name_y","wins"]]
print(merged_data_clean)

    circuitId  constructorId         name_y  wins
0           1              6        Ferrari    11
1           2              6        Ferrari     6
2           4              6        Ferrari     8
3           7              6        Ferrari    11
4           8              6        Ferrari     9
..        ...            ...            ...   ...
68         64            118        Vanwall     1
69         60            170  Cooper-Climax     1
70         61            170  Cooper-Climax     1
71         62            170  Cooper-Climax     1
72         63            170  Cooper-Climax     1

[73 rows x 4 columns]

# Creating the map:

In [37]:
world_map = folium.Map(location=[0, 0], zoom_start=2,
                       tiles='Cartodb Positron')

In [38]:
for index, row in circuits.iterrows():
    sub_merge = merged_data_clean[row["circuitId"]==merged_data_clean["circuitId"]].squeeze()
    
    most_wins = sub_merge["name_y"]
    nb_win = sub_merge["wins"]
    
    ind = circuits_id_list.index(row["circuitId"])
    nb_races = circuits_count_list[ind]
    
    html = f"""
    <h2> {row["name"]}</h2><br>
    Location: <b>{row["location"]}, {row["country"]}</b><br>
    Altitude (meters): {row["alt"]} <br>
    Number of races: <b>{nb_races}</b><br>
    Constructor with most wins: <b>{most_wins}</b> ({nb_win} wins)
    """
    
    popup = folium.Popup(html, max_width=300)
    folium.Marker(location=[row['lat'], row['lng']], popup=popup,icon=folium.Icon(color='red', icon='glyphicon-flag')).add_to(world_map)

In [39]:
world_map.save("f1_map.html")